<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/favicon.jpg" type="image/jpeg">
    <link rel="stylesheet" href="/static/videogame.css">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap" rel="stylesheet">
    <title>Videogame</title>
</head>
<body>
    <!-- Dropdown container -->
    <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
            <a href="/users/logout" class="btn logout">Logout</a>
            <a href="/videogames/form" class="btn add-videogame">Add A Videogame</a>
            <a href="/user/account" class="btn account">Account</a>
            <a href="/videogames/igdb/login" class="btn logout">All Games</a>
            <a href="/videogames" class="btn">Hub</a>
        </div>
    </div>

    <h1>{{ videogame.title }}</h1>

    {% if videogame.image_url or videogame.video_url %}
    <div class="media-container">
        {% if videogame.image_url %}
        <img src="{{ videogame.image_url }}" alt="{{ videogame.title }}" class="game-image">
        {% endif %}

        {% if videogame.video_url %}
        <!-- Embed YouTube video -->
        <iframe
            class="game-video"
            src="https://www.youtube.com/embed/{{ videogame.video_url | extract_youtube_id }}"
            frameborder="0"
            allowfullscreen
        ></iframe>
        {% endif %}
    </div>
    {% endif %}

    <div>
        <p>{{ videogame.description }}</p>
    </div>
    <div>
        <p>{{ videogame.system }}</p>
    </div>
    <div>
        <p>Added by: {{ videogame.user.first_name }} {{ videogame.user.last_name }}</p>
    </div>

    <div class="bottom-right">
        <div class="dance-gif">
            <img src="/static/images/Dance.gif" alt="Gif-Image">
        </div>
        <p>Like this game? Check it out Here!</p>
    </div>

    <div class="bottom-right-images">
        <a href="https://store.playstation.com/en-us/pages/latest/">
            <img src="/static/images/Playstation.jpg" alt="Playstation">
        </a>
        <a href="https://www.microsoft.com/store/b/xbox">
            <img src="/static/images/Xbox.jpg" alt="Xbox">
        </a>
        <a href="https://www.nintendo.com/us/store/">
            <img src="/static/images/NS.jpg" alt="Nintendo">
        </a>
        <a href="https://store.steampowered.com/">
            <img src="/static/images/Steam.jpg" alt="Steam">
        </a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const gameVideo = document.querySelector('.game-video');
            if (gameVideo) {
                gameVideo.play().catch(error => {
                    console.log('Error playing video:', error);
                });
            } else {
                console.log('Video element not found');
            }
        });
    </script>
</body>
</html>
